<div class="container h-100">
  <div class="row pt-3">
    <div class="col-md-4 mb-3">
      <%= render "public/users/card", user: @user %>
    </div>

    <div class="col-md-8">
      <nav class="nav nav-pills nav-justified mb-2">
        <%= link_to "フォロー中", following_user_relationship_path(@user), class: "nav-item nav-link" %>
        <%= link_to "フォロワー", "#", class: "nav-item nav-link active" %>
      </nav>

      <ul class="px-0 list-group jscroll">
        <% @follower_users.each do |user| %>
          <li class="list-group-item">
            <%= render "public/users/media", user: user %>
          </li>
        <% end %>
        <li class="d-none">
          <%= paginate @follower_users %>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    $(function () {
      $('.jscroll').jscroll({
        contentSelector: '.jscroll li',
        nextSelector: 'span.next:last a',
        loadingHtml: '<div class="text-center"><div class="spinner-grow text-primary" role="status"></div></div>',
        callback: function(){//新たに読み込まれたページにはjavascriptが当たらないので、ここに追加すれば読み込まれる
          $('.followbutton-followed').hover(
            function() {
              $(this).text('フォロー解除');
              $(this).addClass("btn-danger");
              $(this).removeClass("btn-primary");
        
            },
            function() {
              $(this).text('フォロー中');
              $(this).addClass("btn-primary");
              $(this).removeClass("btn-danger");
            }
          );
        }
      });
    });
  });
</script>
