<div id="popularPostImageCrousel" class="carousel slide">
  <div class="carousel-inner">
    <% @most_liked_post_images.each_with_index do |post_image, index| %>
      <div class="carousel-item <%= index == 0 ? "active" : ""%>">
        <%= link_to post_image_path(post_image) do %>
          <%= attachment_image_tag post_image, :image, :fill, 1000, 400, class: "d-block w-100" %>
        <% end %>
        <div class="container">
          <div class="carousel-caption text-left d-none d-md-block p-3 rounded" style="background-color: rgba(0,0,0,0.4)">
            <h5>
              <%= link_to user_path(post_image.user), class: 'text-reset text-decoration-none' do %>
                <%= attachment_image_tag post_image.user, :profile_image, :fill, 30, 30, size: '30x30', fallback: "no_profile_image.jpg", class: "rounded-circle mr-2" %>
                <%= post_image.user.name %>
              <% end %>
            </h5>
            <p>
              <%= post_image.description %>
            </p>
            <span class="like_button_<%= post_image.id %> mr-1">
              <%= render 'public/likes/button', post_image: post_image %>
            </span>
            <span class="comment_button_<%= post_image.id %>">
              <%= render 'public/post_image_comments/button', post_image: post_image %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#popularPostImageCrousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#popularPostImageCrousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>

<div class="container">
  <div class="row pt-3">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h2>最新の投稿</h2>
      
      <ul class="px-0 jscroll">
        <% @post_images.each do |post_image| %>
          <li class="list-unstyled mb-3">
            <%= render 'public/post_images/card', post_image: post_image %>
          </li>
        <% end %>
        <li class="d-none">
          <%= paginate @post_images %>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>

</script>
