<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_includes %>
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh; overflow-y: scroll;">
    <header id="header" class="fixed-top">
      <%= render 'shared/header' %>
      <%= render "shared/flash_message" %>
    </header>
    <main class="flex-grow-1 bg-light">
      <%= yield %>
    </main>
    <footer class="bg-secondary">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
