<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_includes %>
  </head>

  <body class="vh-100 d-flex flex-column" style="overflow-y: scroll;">
    <header>
      <%= render 'shared/header' %>
    </header>
    <div style="padding-top: 56px;">
      <%= render "shared/flash_message" %>
    </div>
    <main class="flex-grow-1 bg-light">
      <%= yield %>
    </main>
    <footer class="bg-secondary">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
